.panel-group{
  .panel{
    .panel-heading{
      .panel-title{
       a{
        color: $primary;
       }
      }
    }
    .panel-heading{
      position: relative;
      background-color: transparent;
      border-radius: 0;
      border:1px solid transparent;
      border-bottom:1px solid $light-gray;
      font-size:16px;
      color:$gray;
      font-weight: 300;
      a{
        &:after{
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(270deg);
          background-image: url(../image/ico-accordion-arrow.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 6px;
          height: 11px;
        }
        &.collapsed{
          &:after{
            transform:rotate(90deg);
          }
        }
      }
    }
    .panel-body{
      height: 232px;
      overflow-y: scroll;
      border: 1px solid $light-gray;
      border-top: 1px solid transparent;
    }
  }
}