.box{
  border: 1px solid $light-gray;
  line-height: 17px;
  padding:15px;
  &.gray-type{
    background-color: $bg-table;
    color: $gray;
    border: 0;
  }
  &.scroll-box{
    overflow-y: auto;
    height: 250px;
  }
}