.btn{
  &.primary-btn{
    background-color:$red;
    color: $white;
  }
  &.secondary-btn{
    background-color:$light-gray;
    color: $white;
  }
  &.custom-btn{
    padding: rem(9) rem(38);
    font-size: 16px;
    line-height: unset;
    text-align: center;
    border-radius: 0;
    &.la-type{
      padding:8px 54px;
    }
  }
  &.block-type{
    display: block;
  }
  &.hover-primary{
    &:hover{
      background-color: $primary;
      color: $white;
    }
  }
  &.dropdown-toggle{
    i{
      width: 15px;
      height: 15px;
    }
  }
}
.dropdown-menu{
    li{
      a{
        i{
          width: 15px;
          height: 15px;
        }
      }
    }
}