.connection{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  &.green-type{
    background-color: $green;

  }
  &.gray-type{
    background-color: $gray;
  }
  &.black-type{
    background-color: $black;
  }
  &.red-type{
    background-color: #ff0000;
  }
}