/* WEBFONT - eng */
@font-face {
  font-family:'lgsmart';
  font-weight: 300;
  font-style:normal;
  src:url('../fonts/LGSmartLight-Light.eot') format('embedded-opentype'), 
      url('../fonts/LGSmartLight-Light.woff') format('woff');
}
@font-face {
  font-family:'lgsmart';
  font-weight: 400;
  font-style:normal;
  src:url('../fonts/LGSmart.eot') format('embedded-opentype'), 
      url('../fonts/LGSmart.woff') format('woff');
}

@font-face {
  font-family:'lgsmart';
  font-weight: 500;
  font-style:normal;
  src:url('../fonts/LGSmartLight-SemiBold.eot') format('embedded-opentype'), 
      url('../fonts/LGSmartLight-SemiBold.woff') format('woff');
}

@font-face {
  font-family:'lgsmart';
  font-weight: 700;
  font-style:normal;
  src:url('../fonts/LGSmart-Bold.eot') format('embedded-opentype'), 
      url('../fonts/LGSmart-Bold.woff') format('woff');
}


/* WEBFONT - ko */
@font-face{
  font-family: 'lgsmart_H';
  font-weight: 300;
  font-style: normal;
  src:url('../fonts/LGSmHaotfTL.woff') format('woff');
}

@font-face{
  font-family: 'lgsmart_H';
  font-weight: 400;
  font-style: normal;
  src:url('../fonts/LGSmHaotfTR.woff') format('woff');
}

@font-face{
  font-family: 'lgsmart_H';
  font-weight: 500;
  font-style: normal;
  src:url('../fonts/LGSmHaotfTSB.woff') format('woff');
}

@font-face{
  font-family: 'lgsmart_H';
  font-weight: 700;
  font-style: normal;
  src:url('../fonts/LGSmHaotfTB.woff') format('woff');
}