@mixin icon-center-cover {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}

.ico-close{
  background-image: url(../image/ico-close.png);
  @include icon-center-cover;
  width:15px;
  height:15px;
}
.icon-au{
  background-image: url(../image/icon_au.png);
  @include icon-center-cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.icon-eu{
  background-image: url(../image/icon_eu.png);
  @include icon-center-cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.icon-en{
  background-image: url(../image/icon_us.png);
  @include icon-center-cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.icon-de{
  background-image: url(../image/icon_deu.png);
  @include icon-center-cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.icon-it{
  background-image: url(../image/icon_ita.png);
  @include icon-center-cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.icon-es{
  background-image: url(../image/icon_esp.png);
  @include icon-center-cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.icon-installation{
  background-image: url(../image/icon-installation.png);
  @include icon-center-cover;
  width: 19px;
  height: 19px;
}
.icon-parallel{
  background-image: url(../image/icon_parallel.png);
  @include icon-center-cover;
  width: 19px;
  height: 19px;
}
.icon-service{
  background-image: url(../image/icon_service.png);
  @include icon-center-cover;
  width: 19px;
  height: 19px;
}
.icon-maintenace{
  background-image: url(../image/icon-Maintenace.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.icon-box-plus{
  background-image: url(../image/icon-box-plus.png);
  @include icon-center-cover;
  width: 18px;
  height: 18px;
}
.icon-box-minus{
  background-image: url(../image/icon-box-minus.png);
  @include icon-center-cover;
  width: 18px;
  height: 18px;
}

.icon-dashboard{
  background-image: url(../image/ico-dashboard.png);
  @include icon-center-cover;
  width:19px;
  height:19px;
}
.icon-register{
  background-image: url(../image/ico-Register.png);
  @include icon-center-cover;
  width:19px;
  height:19px;
}
.icon-battery{
  background-image: url(../image/icon-Battery.png);
  @include icon-center-cover;
  width:19px;
  height:19px;
}