input[type='text'],
input[type="password"],
select{
  width: 100%;
  border: rem(1) solid $light-gray;
  font-size: 14px;
  color: $gray;
  height: 36px;
  padding: 0 rem(20);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
input[type='text']:disabled,
input[type="password"]:disabled{
  background-color: $disable;
  color: $light-gray;
}
input::-ms-clear { 
  display: none; 
}
select::-ms-expand { 
  display: none; 
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
    display: none;
}
select{
  background-image: url(../image/select-box-arrow.png);
  background-repeat: no-repeat;
  background-position: 98% 63%;
}

input[type='checkbox']{
  position:absolute; 
  width:1px; 
  height:1px; 
  padding:0; 
  margin:-1px;
  overflow:hidden; 
  clip:rect(0,0,0,0);
  border:0;
  + label{
    position:relative;
    display:inline-block; 
    padding-left:26px; 
    font-size: 16px;
    color: #999999;
    line-height: 20px;
    font-weight: 300;
    cursor:pointer;
    &:before{
      content: '';
      position: absolute;
      left:0;
      width: rem(30);
      height: rem(30);
      background-image: url(../image/checkbox-off.png);
      @include  background-cover-center;
    }
  }
  &:checked{
    + label{
      &:after{
        content: '';
        position: absolute;
        left:0;
        width: rem(30);
        height: rem(30);
        background-image: url(../image/checkbox.png);
        @include  background-cover-center;
      }
    }
  }
}

input[type="radio"]{
  position:absolute; 
  width:1px; 
  height:1px; 
  padding:0; 
  margin:-1px;
  overflow:hidden; 
  clip:rect(0,0,0,0);
  border:0;
  + label{
    position:relative;
    display:inline-block; 
    padding-left:26px; 
    cursor:pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 0;
    &:before{
      content: '';
      position: absolute;
      left:0;
      width: 20px;
      height: 20px;
      background-image: url(../image/radiobox-off.png);
      @include background-cover-center;
    }
  }
  &:checked{
    + label{
      &:after{
        content: '';
        position: absolute;
        left:0;
        width: 20px;
        height: 20px;
        background-image: url(../image/radiobox.png);
        @include  background-cover-center;
      }
    }
  }
}

.toggle-checkbox{
  input[type="checkbox"]{
    + label{
      position:relative;
      display:inline-block; 
      padding-left:26px; 
      cursor:pointer;
      font-size: 20px;
      line-height: 20px;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        background-image: url(../image/checkbox-toggle-off.png);
        @include  background-cover-center;
        width: rem(70);
        height: rem(34);
        transition: all .4s ease;
      }
    }
    &:checked{
      + label{
        &:after{
          content: '';
          position: absolute;
          left: 0;
          background-image: url(../image/checkbox-toggle.png);
          @include  background-cover-center;
          width: rem(70);
          height: rem(34);
          transition: all .4s ease;
        }
      }
    }
  }
}