.resu-device{
 margin-top: 25px;
  .btn{
    position: relative;
    border-radius: 0;
    &:after{
      content: '...';
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-58%);
    }
    &.dropdown-toggle{
      &:after{
        content: '';
        background-image: url(../image/select-box-arrow.png);
        width: 10px;
        height: 10px;
        background-position: center;
      }
    }
  }
  p{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
  }
  .col-lg-2{
    margin-bottom: 15px;
  }
}
.search-bottom{
  margin: 0;
}

.income-order-visit-user-area{
  padding-top: 90px;
  >.container-fluid{
    padding-left: 97px;
  }
}
@media screen and(max-width:971px) {
  .income-order-visit-user-area{
    padding-top: 30px;
  }
}
@media screen and(max-width:974px) {
  .wave{
    &:after{
      display: none;
    }
}
@media (max-width: 986px){
    .income-order-visit-user-area > .container-fluid{
      padding-left: 15px;
    }
    }
  }

.wave{
  position: relative;
  &::after{
    content: '~';
    position: absolute;
    top: 41px;
    right: -19px;
    font-size: 16px;
  }
}

.panel-group{
  &.search{
    .panel-heading{
      .title{
        a{
          position: relative;
          display: block;
          color: $black;
          &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(270deg);
            background-image: url(../image/ico-accordion-arrow.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 6px;
            height: 11px;
          }
          &.collapsed{
            &:after{
              transform:  translateY(-50%) rotate(90deg);
            }
          }
        }
      }
    }
  }
  &.mobile{
    display: none;
  }
}

@media (max-width:767px) {
    .panel-group{
      &.search{
        &.pc{
          display: none;
        }
        &.mobile{
          display: block;
        }
      }
    }
}