@mixin flex-prefix-center-suffix {
  display: flex;
  .prefix,
  .suffix,
  .center {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
  }
  .suffix {
    justify-content: flex-end;
  }
  .center {
    justify-content: center;
  }
}
@mixin flex-prefix-suffix {
  display: flex;
  .prefix,
  .suffix {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
  }
  .suffix {
    justify-content: flex-end;
  }
}

@mixin ellipsis {
display: block !important;
overflow: hidden;
text-align: left;
white-space: nowrap;
text-overflow: ellipsis;
}

@mixin ellipsis-multi {
display: -webkit-box;
overflow: hidden;
text-align: left;
text-overflow: ellipsis;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
word-wrap:break-word;
}

@mixin text-overflow-ellipsis{
overflow: hidden;
word-wrap:break-word;
display: -webkit-box;
-webkit-line-clamp: 3; /* 라인수 */
-webkit-box-orient: vertical;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-ms-text-overflow:ellipsis;
-moz-text-overflow:ellipsis;
}
@mixin flex-justify-align{
display: flex;
justify-content: space-between;
}

@mixin background-cover-center{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}