.modal-footer{
  text-align: center;
  a{
    &:nth-child(1){
      &:before{
        background-color: $red;
      }
    }
    &:nth-child(2){
      &:before{
        background-color: $light-gray;
      }
    }
  }
}

.modal{
  padding-right: 0 !important;
  width: calc(100% - 10%);
  margin: auto;
  top: 10%;
}

.default-popup-PrimaryModal{
  .modal-close-area {
    top: 20px;
    right: 14px;
    a{
      background-color: $primary;
    }
  }
  .modal-body{
    padding: 50px 20px;
    table{
      tr{
        th{
          text-align: center;
        }
        td{
          text-align: left;
        }
      }
    }
    .search{
      margin-bottom: rem(20);
    }
  }
}

.header-color-modal {
  &.bg-color-primary {
    background: $primary;
  }
}
#delete,#save{
  .modal-content{
    .modal-body{
      span{
        font-size: 90px;
        color: $primary;
        margin-bottom: 30px;
      }
      p{
        font-size: 24px;
      }
    }
  }
}
#trend-data{
  .modal-content{
    .prefix{
      font-size: 14px;
    }
  }
}
@media screen and (max-width:720px) {
  #trend-data{
    .modal-content{
      .align-prefix-suffix{
        .suffix{
          justify-content: flex-start;
          margin-top: 10px;
        }
      }
    }
  }
}

#account{
  .modal-dialog{
    width: 450px;
    .modal-content{
      ul{
        li{
          a{
            display: block;
            padding: 15px;
            border: 1px solid $secondary;
            border-bottom: 0;
            text-align: left;
          }
          &:last-child{
            a{
              border-bottom: 1px solid $secondary;
            }
          }
        }
      }
    }
  }
}

.default-popup-PrimaryModal .modal-body{
  padding:30px 20px
}
.modal-footer{
  padding: 0;
  padding-bottom: 30px;
}