.nav{
  &.header-right-menu{
    .lang{
      float: left;
      margin-right: rem(20);
    }
    .user{
      display: flex;
      align-items: center;
      margin-right: 15px;
      .login{
        color: $white;
        margin: 0 rem(10);
      }
    }
  }
  &.homeowner-nav{
    li{
      a{
        display: block;
        padding: 10px 15px;
        .mini-dn{
          font-size: 20px;
          font-weight: 500;
          padding-left: 15px;
        }
      }
    }
  }
}
.header-right-info{
  float: left;
  .nav{
    display: flex;
    align-items: center;
    padding: 17px 18px;
    padding-bottom: 25px;
    .lang{
      margin-right: 10px;
    }
    .language{
      ul{
        li{
          i{
            margin-right: 5px;
          }
        }
      }
    }
  }
  .dropdown-toggle{
    padding: 2px 12px;
    i{
      vertical-align: text-bottom;
      width: 15px;
      height: 15px;
    }
  }
}
.materialdesign .header-drl-controller-btn.btn-info{
  background-color: transparent;
  border-color: transparent;
}

.materialdesign .fixed-header-top{
  background-color:#333333 ;
}
.mobile-menu-area{
  background: transparent;
  .btn{
    background-color: transparent !important;
    border-color: transparent !important;
    &.has-border{
      border: 1px solid #ccc !important;
    }
  }
  .sidenav{
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: $white;
    overflow-x: hidden;
    transition: 0.5s;
    .nav-header{
      padding: 0 20px;
      padding-top: 20px;
      .prefix{
        width:60px;
      }
    }
    .user-info{
      margin-top: 15px;
      background: #f3f3f3;
      padding: 20px;
      p{
        text-align: left;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      a{
        border-bottom: 1px solid $black;
      }
    }
    .navbar-nav{
      padding: 0 20px;
      li{
        .dropdown-menu{
          padding-left:50px
        }
        .mini-dn{
          font-weight: bold;
          font-size: 18px;
          padding-left: 15px;
        }
      }
    }
    .header-right-info{
      padding: 0;
      .dropdown-menu{
        position: absolute;
        background-color: $white;
        box-shadow: 0 6px 12px rgba($color: #000000, $alpha: 0.18);
      }
      .user{
        display: flex;
        align-items: center;
        .login{
          margin-left: 12px;
        }
      }
    }
    .nav{
      .nav-item{
        .dropdown-item{
          display: block;
          padding:10px;
          padding-left:0
        }
      }
    }
  }
  .logo-wrap-pro{
    img{
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@media (max-width: 767px){
  .fixed-header-top{
    position: relative;
  }
}


.mobile-header{
  display: flex;
  width: 100%;
  align-items: center;
  .hamburger{
    flex: 1 1 50%;
  }
  .admin-logo{
    width: 100%;
    text-align: right;
    padding-right: 23px;
    margin-top: 0;
    img{
      width: 40%;
    }
  }
}

.left-custom-menu-adp-wrap{
  .panel{
    padding-bottom: 15px;
    box-shadow: none;
    .panel-heading{
      border-bottom: 0 !important;
      padding: 0;
      h4{
        padding: 0;
        a{
          display: block;
          padding: 10px 15px;
          &:hover{
            background: #ebebeb;
          }
          .mini-dn{
            color: $black;
            font-size: 20px;
            font-weight: 500;
            padding-left: 15px;
          }
          .indicator-right-menu{
            float: right;
          }
          &:after{
            display: none;
          }
          .indicator-right-menu{
            transform: rotate(180deg);
            padding: 0;
          }
          &.collapsed{
            .indicator-right-menu{
            transform: rotate(0deg);
            }
          }
        }
      }
    }
    .panel-body{
      overflow-y: visible !important;
      padding: 0;
      height: auto !important;
      border: 0 !important;
      ul{
        li{
          a{
            display: block;
            padding: 10px 30px;
            padding-left: 56px;
            font-size: 14px;
            &:hover{
              background: #ebebeb;
            }
          }
        }
      }
    }
  }
}
#sidebar{
  &.active{
    .left-custom-menu-adp-wrap{
      .panel{
        position: relative;
        .panel-heading{
          .mini-dn{
            display: none;
          }
        }
        .panel-body{
          ul{
            li{
              a{
                padding: 10px 0 10px 0;
              }
            }
          }
        }
      }
    }
  }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a{
  color: $black;
}