.mg-t-10{
  margin-top: 10px;
}
.has-border-top{
  border-top: rem(1) solid $gray;
  padding-top: rem(20);
  margin:0;
}
.pad-0{
  padding: 0;
}
.text-left{
  text-align: left !important;
}
.pd-t-90{
  padding-top: 90px;
}
.align-prefix-suffix{
  @include flex-prefix-suffix
}
.flex-wrap{
  flex-wrap: wrap;
}
.text-right{
  text-align: right !important;
}
.fc-white{
  color: $white;
}
.fc-black{
  color: $black;
}
.m-r--22{
  margin-right: -22px;
}
.m-b--7{
  margin-bottom: -7px;
}
.m-t--3{
  margin-top: -3px;
}
.auto-flex{
  flex: 1 1 auto;
}
.flex-align-top{
  align-items: flex-start !important;
}
.none-after-before{
  &:after,
  &:before{
    display: none;
  }
}
.explan{
  color: $light-gray;
  font-size: 16px;
}

.panel-group .panel+.panel{
  margin: 0;
}
.warning{
  color: $primary;
}
.ellipsis{
  @include ellipsis;
}