@charset 'utf-8';
body, html{
  margin: 0;
  padding: 0;
  font-family:'lgsmart' !important;
}
body{
  -webkit-text-size-adjust : none;
  font-size: 16px;
  letter-spacing: -0.05rem;
  position: relative;
  //line-height: 1;
  *{
    box-sizing: border-box;

  }
}
ul,ol,li, dl, dt, dd{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  text-decoration: none;
  color: #333 ;
  &:hover{
    text-decoration: none;
  }
}
input, select, textarea, fieldset, button{
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
}
p{
  margin: 0;
}
table{
  border-collapse: collapse;
}
em{
  font-style: normal;
}
strong{
  font-weight: bold;
}
textarea{
  resize: none;
}
.hidden{
  overflow: hidden;
  position: absolute;
  width: rem(1);
  height: rem(1);
  clip: rect(1px, 1px, 1px, 1px);
}