.materialdesign{
  #sidebar{
    min-width: 270px;
    .sidebar-header{
      p,a{
        font-size: 16px;
      }
      p + p{
        margin-top: 15px;
      }
      .my-info{
        display: inline-block;
        margin-top: 25px;
        border-bottom: 1px solid $black;
      }
      p{
        text-align: left;
        &:last-child{
          margin-bottom:25px;
        }
      }
      .img-banner{
        width: 155px;
        margin-bottom:25px ;
        img{
          width: 100%;
          border-radius: 0;
        }
      }
    }
    &.active{
      .my-info{
        display: none;
      }
      .img-banner{
        margin-left: -10px;
        img{
          display: block;
        }
      }
      .header-right-info{
        display: none;
      }
      .mini-dn{
        display: none;
      }
    }
    .nav-item{
      .mini-dn{
        font-size: 20px;
        font-weight: 500;
        padding-left: 15px;
      }
    }
  }
  &.mini-navbar{
    #sidebar.active{
      min-width: 80px !important;
    }
    .income-order-visit-user-area > .container-fluid{
      padding-left: 15px;
    }
    #sidebar .sidebar-header{
      padding:14px;
    }
  }
}
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro{
  margin-top: 15px;
  li{
    margin-bottom: 15px;
  }
}

.materialdesign .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li .left-menu-dropdown a{
  padding-left: 56px;
}