.table{
  &.default-table{
    tr{
      td,th{
        border:rem(2) solid $light-gray;
        font-size: rem(28);
        vertical-align: middle;
        &:first-child{
          border-left: rem(2) solid transparent;
        }
        &:last-child{
          border-right: rem(2) solid transparent;
        }
      }
      th{
        background-color: $bg-table;
        font-weight: 500 ;
      }
    }
    &.center-table{
      tr{
        td,th{
          text-align: center;
        }
      }
    }
  }
  &.custom-list-table{
    tbody{
      tr{
        td,th{
          padding:10px 5px !important;
          vertical-align: middle !important;
          font-size: 14px;
        }
      }
    }
  }
}
.fixed-table-container{
  border-left: rem(1) solid transparent !important;
  border-right: rem(1) solid transparent !important;
}

.table-pagenation{
  display: flex;
  justify-content: center;
  margin-top: rem(22);
  ul{
    display: flex;
    align-items: center;
    }
    .pagination{
      margin:0;
      li{
        a{
          font-size: 14px;
          padding: 4px 12px;
          color:$black
        }
      }
    }
}