.nav-tabs{
  li{
    a{
      font-size: rem(24);
      color: $gray;
    }
    &.active{
      a{
        position: relative;
        font-size: rem(24);
        border: 1px solid $white !important;
        &:after{
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 100%;
          border-bottom:rem(8) solid $red !important;
        }
        &:hover{
          border: 1px solid transparent;
        }
      }
    }
  }
}