.text-nav-bar{
  border-top: 1px solid $light-gray;
  padding-top: 10px;
  margin-top: 25px;
  .prefix,.suffix{
    position: relative;
    line-height: 22px;
    &:after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 12px;
      height: 22px;
    }
    &.none-arrow{
      padding:0;
      &:after{
        display: none;
      }
    }
  }
  .prefix{
    padding-left: 22px;
    &:after{
      left: 0;
      background-image: url(../image/ico-back-arrow.png);
    }
  }
  .suffix{
    padding-right: 22px;
    &:after{
      right: 0;
      background-image: url(../image/ico-next-arrow.png);
    }
  }
}