.title{
  &.bold-type{
    font-size: 22px;
    font-weight: 700;
  }
  &.regular-type{
    font-size: 20px;
    font-weight: 500;
  }
  &.has-border{
    border-top: rem(4) solid $black;
    padding-top: rem(20);
  }
}