$black:#000000;
$white:#ffffff;
$gray:#6b6b6b;
$light-gray:#d9dadb;
$red:#a50045;
$sky:#0096aa;
$orange:#e97300;
$green:#00b050;
$primary:$red;
$secondary:$light-gray;

$disable:#f3f3f3;
$bg-table:#eff0f0;