.limiter{
a {
	font-size: 16px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}
h2{
  font-size: 20px;
  font-weight: 500;
  color: $gray;
}
p {
	font-size: 16px;
	line-height: 1.7;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}
input:-internal-autofill-selected{background-color: transparent;}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #acacac; }
input:-moz-placeholder { color: #acacac; }
input::-moz-placeholder { color: #acacac; }
input:-ms-input-placeholder { color: #acacac; }

textarea::-webkit-input-placeholder { color: #acacac; }
textarea:-moz-placeholder { color: #acacac; }
textarea::-moz-placeholder { color: #acacac; }
textarea:-ms-input-placeholder { color: #acacac; }

/*---------------------------------------------*/
button {
	outline: none !important;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-size: 16px;
  color: #999999;
  line-height: 1.4;
}

.bo1 {
  border-bottom: 1px solid #999999;
}

.hov1:hover {
  border-color: #d33f8d;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 1;
}


.wrap-login100 {
  width: 600px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  padding:0 50px;
}



/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  width: 100%;
  display: block;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input100 {
  font-size: 18px;
  line-height: 1.2;
  color: $gray;

  display: block;
  width: 100%;
  background: $light-gray;
  height: 62px;
  border-radius: 3px;
  padding: 0 30px 0 65px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(211,63,141, 0.6);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 24px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none; 

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  padding-left: 18px;
}
.input100:focus + .focus-input100 + .symbol-input100 .lnr{
  color: $primary;
}
/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-size: 20px;
  color: #999999;
  line-height: 20px;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #a50045;
  left: 0;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

// .input-checkbox100:checked + .label-checkbox100::before {
//   color: #d33f8d;
// }


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-size: 20px;
  line-height: 1.5;
  color: $white;
  text-transform: uppercase;

  width: 100%;
  height: 62px;
  border-radius: 3px;
  background: $white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  background: $primary;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
.logo{
  img{
    width:100%;
  }
}
label{
  font-size: 14px;
  color: #999999;
  line-height: 1.2;
  display: block;
  position: relative;
  cursor: pointer;
}
.Danger{
  color: $primary;
}
.help-list{
  display:flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
    li{
      position: relative;
      padding-right: rem(20);
      a{
        font-size: 16px;
      }
      &:after{
        content: '';
        position: absolute;
        top: 8px;
        right: 6px;
        background-color: $black;
        width: 1px;
        height: 12px;
      }
      &:last-child{
        padding-right: 0;
        &:after{
          display: none;
        }
      }
      &.installer{
        display: block;
      }
      &.homeonwer{
        display: none;
      }
    }
  }
  .terms{
    width: 100%;
    p{
      margin-bottom: 7px;
      font-size: 16px;
      font-weight: 300;
    }
    .box{
      font-size: 14px;
    }
  }
  .btn{
    font-size: 20px;
  }
  .dropdown{
    .btn{
      padding: 2px 22px;
      font-size: 16px;
    }
    text-align: right;
    .dropdown-menu{
      right: 0;
      left: auto;
      li{
        margin-bottom: 10px;
        a{
          font-size: 16px;
        }
        i{
          margin-right: 5px;
          vertical-align: bottom;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .mobile-menu-area{
    display: none;
    .nav-header{
      border-bottom: 1px solid $black;
      padding-bottom: 10px;
      margin-bottom: 25px;
    }
    ul{
      padding: 0 20px;
      li{
        padding-bottom: 15px;
        a{
          font-size: 20px;
        }
        i{
          margin-right: 5px;
        }
      }
    }
  }
  .language{
    display: block;
    .btn{
      .caret{
        margin-left:5px ;
      }
    }
  }
  .select-location{
    width: 100%;
    ul{
      li{
        text-align: center;
        border: 1px solid $light-gray;
        border-bottom: 1px solid transparent;
        &:last-child{
          border-bottom: 1px solid $light-gray;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        &:first-child{
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          font-weight: 500;
          padding:15px 0;
        }
        span{
          display: inline-block;
          width: 60px;
          margin-left: 15px;
        }
        a{
          padding:15px 0;
          display:block;
        }
      }  
    }

  }
  .footer{
    text-align: center;
    img{
      width: 50%;
    }
  }
  @media only screen and (min-width: 280px) and (max-width: 976px) {
    .mobile-menu-area {
      display: block;
      .btn{
        font-size: 16px;
        padding:2px 20px;
        i{
          width: 15px;
          height: 15px;
        }
      }
      .caret{
        transform: rotate(270deg);
        vertical-align: 2px;
      }
    }
    .language{
      display: none;
    }
  }
}
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 480px) {
  .limiter .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}